@media (min-width: 1025px) {
	.h-custom {
		height: 100vh !important;
	}
}

body {
	padding: 0;
	margin: 0;
	background: -moz-linear-gradient(
		-45deg,
		#183850 0,
		#183850 25%,
		#192c46 50%,
		#22254c 75%,
		#22254c 100%
	);
	background: -webkit-linear-gradient(
		-45deg,
		#183850 0,
		#183850 25%,
		#192c46 50%,
		#22254c 75%,
		#22254c 100%
	);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.card-registration
	.select-input.form-control[readonly]:not([disabled]) {
	font-size: 1rem;
	line-height: 2.15;
	padding-left: 0.75em;
	padding-right: 0.75em;
}

.card-registration .select-arrow {
	top: 13px;
}

.bg-grey {
	background-color: #eae8e8;
}

.cart-Items {
	/* overflow: hidden; */
	overflow-y: auto;
	overflow-x: hidden;
	height: 300px;
}

.cart-Items img {
	width: 100%;
}

@media (min-width: 992px) {
	.card-registration-2 .bg-grey {
		border-top-right-radius: 16px;
		border-bottom-right-radius: 16px;
	}
}

@media (max-width: 991px) {
	.card-registration-2 .bg-grey {
		border-bottom-left-radius: 16px;
		border-bottom-right-radius: 16px;
	}
}
